{{> header }}
  
    {{> navbar }}
    <div class="row">
        <div class="col-8">
            <p>capitan america</p>
        </div>
        <div class="col-4">
            <img src="assets/img/loquesea.png" alt="" class="img-tumbnail">
        </div>
    </div>
  {{>footer}}